body{
    padding: 50px;
    color:rgba(0, 0, 0, 0.7)
}

.trigger{
    width: 200px;
    height: 200px;
    border: 20px solid #999;
    background: #ddd;
}

.box{
    display: inline-block;
    background: pink;
    width: 200px;
    height: 200px;
    transition: transform 300ms ease-in-out;
    
    /* Diz para nao registrar nenhum hover ou evento aqui */
    pointer-events: none; 
}

/* 
    O evento de hover é captado no trigger
    Mas o animação é feita na child box
*/
.trigger:hover .box{
    transform: 
    translate(200px, 150px) 
    rotate(20deg);
}